<!DOCTYPE html>
<html lang="bg" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PH's excellence honey</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <div class="available_products_div">
      <nav>
        <ul class="shop_products">
          <li><a href="replacethis"><img src="{{url_for('static', filename='images/black.webp')}}" alt="Buckwheat"><figcaption>Buckwheat Honey<br>20.00лв</figcaption></a></li>
          <li><a href="replacethis"><img src="{{url_for('static', filename='images/classic.webp')}}" alt="classic"><figcaption>Sourwood Honey<br>35.00лв</figcaption></a></li>
          <li><a href="replacethis"><img src="{{url_for('static', filename='images/yellowish.webp')}}" alt="yellowish"><figcaption>Manuka Honey<br>25.00лв</figcaption></a></li>
          <li><a href="replacethis"><img src="{{url_for('static', filename='images/acacia.webp')}}" alt="acacia"><figcaption>Acacia Honey<br>25.00лв</figcaption></a></li>
          <li><a href="replacethis"><img src="{{url_for('static', filename='images/blossom.webp')}}" alt="Blossom"><figcaption>Blossom Honey<br>25.00лв</figcaption></a></li>
            
        </ul>
      </nav>
    </div>
    {% endblock %}
  </body>
</html>